@charset "utf-8";

body {
  margin: 0;
  padding: 0;
}

header {
  background: #000;
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,1));
  background: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,1));
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

header h1 {
  margin: 0;
  padding: 10px 0;
  font-size: 20px;
  font-weight: normal;
  color: whitesmoke;
}

div#btnFrame {
	width: 500px;
}

button {
		width: 150px;
		height: 40px;
		font-size: 1em;
		color: #ec10cc;
    text-shadow: 0 1px 1px rgba(200,200,240,0.15);              
    float: left;
    margin-left: 50px;
    /*margin-top: 20px;*/
    background: -webkit-linear-gradient(top, hsl(214, 8%, 28%) 0%, hsl(210, 8%, 20%) 100%);
    background: -moz-linear-gradient(top, hsl(214, 8%, 28%) 0%, hsl(210, 8%, 20%) 100%);
    text-shadow: 0 1px 1px rgba(200,200,240,0.15);              
    -moz-box-shadow: inset 0px 2px 6px rgba(0,0,0,0.5), 0px 2px 5px rgba(220,255,255,0.15);
    -webkit-box-shadow: inset 0px 2px 6px rgba(0,0,0,0.5), 0px 2px 5px rgba(220,255,255,0.15);
    border-radius: 7px;
}

video {
  margin-top: 20px;
  margin-left: 100px; 
  clear: both;
}

div#back {
  position: fixed;
  bottom: 50px;
  right: 30px;
}

div#back a {
  display: block;
  text-align: center;
  border-radius: 10px;
  padding: 12px;
  width: 200px;
  background: -webkit-linear-gradient(top, rgba(150, 150, 150, 0.5), rgba(150, 150, 150, 1));
  background: -moz-linear-gradient(top, rgba(150, 150, 150, 0.5), rgba(150, 150, 150, 1));
  border: 1px solid rgb(200, 200, 200);
  box-shadow: 1px 2px 3px #BBB;
  text-decoration: none;
  color: #EEE;
  text-shadow: 1px 1px 3px #444;
  font-weight: bold;
}

div#back a:hover {
  opacity: 0.8;
}
